<nav class="bg-blue-500 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-2xl font-bold" href="/">TextUtils</a>
    <div class="gap-5 flex">
      <a
        class="hover:underline cursor-pointer"
        routerLink="/"
        routerLinkActive="active"
        >Home</a
      >
      <a
        class="hover:underline cursor-pointer"
        routerLink="/about"
        routerLinkActive="active"
        >About</a
      >
      <a
        class="hover:underline cursor-pointer"
        routerLink="/news"
        routerLinkActive="active"
        >News</a
      >
    </div>
  </div>
</nav>
